---
layout: default
---
{% assign posts_count = paginator.posts | size %}

<link rel="stylesheet" href="{{ '/assets/css/pricing.css' | relative_url }}">

<div class="home">
  {% if posts_count > 0 %}
    <div class="button-container">
      <a href="/register/" class="main-button">Register a Business</a>
      <a href="/modify/" class="main-button">Modify Your Business</a>
      <a href="/merge/" class="main-button">Mergers & Acquisitions</a>
      <a href="/close/" class="main-button">Close Your Company</a>
    </div>
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
          <p class="post-meta">
            {% if site.date_format %}
              {{ post.date | date: site.date_format }}
            {% else %}
              {{ post.date | date: "%b %-d, %Y" }}
            {% endif %}
          </p>
          <figure>
            <center>
            {% if post.thumbnail %}
            <a href="{{ post.url | relative.url }}" class="image-link-thumbnail"><img src="{{ post.thumbnail | relative.url }}" alt="Article Thumbnail" title="{{ post.title }}" /></a>
            {% else %}
            {% assign postThumbnail = "/images/business-initiative-logo-no-background.png" %}
            <a href="{{ post.url | relative.url }}" class="image-link-thumbnail"><img src="{{ postThumbnail | relative.url }}" alt="Business Initiative" title="{{ post.title }}" style="width: 20%; height: 20%" align="middle" /></a>
            {% endif %}
            </center>
          </figure>
            <a href="{{ post.url | relative_url }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
            <span class="post-summary">
              {% if post.summary %}
                {{ post.summary }}
              {% else %}
                {{ post.excerpt }}
              {% endif %}
            </span>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
