<div class="author-box" style="margin-top: 70px;">
    <h4 class="author-box-title">About the Author</h4>
	{% if page.author == 'Jack Nicholaisen' %}
	<div class="author-box-inner">
		<img width="100" height="100" class="author-image" style="float: left; width: 100px; height: auto; margin-right: 10px;" alt="jack nicholaisen" src="{{ user.image }}" />
		<div class="author-box-meta">
			<div class="author-box-name">Jack Nicholaisen</div>
			<p class="author-box-description"><a href="/authors/jack-nicholaisen/">Jack Nicholaisen</a> is the founder of Businessinitiative.org. He studied Civil Engineering at the Milwaukee School of Engineering (MSOE) and rowed on varsity crew. As an <a href="https://www.miamitownship.com/DocumentCenter/View/912/Eagle-Scout-Nicholaisen?bidId=">Eagle Scout</a> and cultured <a href="https://www.lamontagne.fr/ussel-19200/actualites/apres-une-annee-scolaire-passee-a-ussel-jack-nicholaisen-retourne-chez-lui-dans-lohio_12446095/">world-traveler</a>, he has spent the last 4 years disecting the mess of informaiton online about LLCs in order to help aspiring entrepreneurs and established business owners better understand everything there is to know about Limited Liability Companies.
				<div class="author-tooltip-link-wrapper">
					<a href="https://www.linkedin.com/in/jack-nicholaisen-7294bb171/" target="_blank" class="author-tooltip-link">
						<img src="/images/icons/linkedin-logo-blue.png" alt="linkedin social media" class="author-tooltip-social-icon">
					</a>
				</div>
				<div class="author-tooltip-link-wrapper">
					<a href="https://twitter.com/neshamajack" target="_blank" class="author-tooltip-link">
						<img src="/images/icons/x-logo-black.png" alt="twitter social media" class="author-tooltip-social-icon">
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% if page.author and page.author != 'jack_nicholaisen' %}
	{% assign author_info = _posts/authors/jack-nicholaisen.md %}
	<div class="author-box-inner">
		<img width="100" height="100" class="author-image" style="float: left; width: 100px; height: auto; margin-right: 10px;" alt="{{ author.name | downcase }}" src="{{ user.image }}" />
		<div class="author-box-meta">
			<div class="author-box-name"><a href="{{ author_info.url }}">{{ author_info.name }}</a></div>
			<p class="author-box-description">{{ author_info.bio }}</p>
			{% if author_info.socials %}
			<div class="author-box-social">
				{% for item in author_info.socials %}
				<div class="author-tooltip-link-wrapper">
					<a href="{{ item.link }}" target="_blank" class="author-tooltip-link">
						<img src="/pages/img/author-bio-{{ item.name }}-icon.svg" alt="{{ item.name }} social media" class="author-tooltip-social-icon">
					</a>
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
	{% endif %}

	<h4 class="author-box-title" style="margin-top: 70px !important;">Ask an Expert</h4>
	<div class="author-box-inner">
	<p>Not able to find what you're looking for? <a href="/contact/">Send us a message</a> with your questions, and we will get back to you within one business day.</p>
	</div>

</div>

<style>

.author-box-inner {
	display: flex;
	align-items: flex-start;
	border-top: 1px solid #f0f8ff;
	padding-top: 20px;
	grid-gap: 10px;
}

.author-box-title {
	margin-bottom: 20px;
    font-size: 24px;
}

.author-box {
    margin-bottom: 24px;
	padding: 5px 2px;
	background: transparent;
    clear: both;
	margin-top: 50px;
}

.author-box-name {
	font-weight: 600;
    font-size: 16px;
}

.author-box-description {
	font-size: 16px;
	margin-top: 6px;
}

.author-box-social {
	display: flex;
    grid-gap: 10px;
}

.author-image {
    border-radius: 100%;
	width: 85px !important;
}

.author-tooltip-social-icon {
	filter: grayscale(0.9);
	opacity: 0.7;
}
</style>
