
{% assign data = site.data[include.faq_data] %}
{% for item in data %}
  <div class="faq-box">
    <details>
      <summary><b>{{ item.question }}</b></summary>
      {% for answer in item.simple_answer %}
        <p>{{ answer }}</p>
      {% endfor %}
      <details class="learn-more">
        <summary>Learn More...</summary>
        <div class="learn-more-box">
          {% for answer in item.extended_answers %}
            {% if answer contains "bullet_points" %}
              <ul>
                {% for point in answer.bullet_points %}
                  <li>{{ point }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <p>{{ answer }}</p>
            {% endif %}
          {% endfor %}
          {% if item.link %}
            <p><a href="{{ item.link }}" target="_blank">Read more here.</a></p>
          {% endif %}
        </div>
      </details>
    </details>
  </div>
{% endfor %}


