<footer class="center">
  <div class="measure">
    <small>
     &#169; 2024 Business Initiative
    </small>
  </div>
  <div class="measure">
    <small>
      <a href="https://www.businessinitiative.org/contact/">Contact Us</a> | <a href="https://www.businessinitiative.org/sitemap/">Sitemap</a> | <a href="https://www.businessinitiative.org/press-releases/">Press Releases</a> | <a href="https://www.businessinitiative.org/whoweare/">Who We Are</a>
    </small>
  </div>
  <div class="measure">
    <small>
    <b>DISCLAIMER:</b> “Business Initiative” is for general educational purposes only. “Business Initiative” does not offer any legal or financial advice. Anyone considering starting a business should speak with a lawyer, business professional, financial advisor, and tax expert before making binding decisions regarding starting, operating, and growing your business. Use external resources independently of “Business Initiative.” It is the responsibility of every reader to seek legal and financial advice from legal and financial professionals.
    </small>
  </div>
  <figure>
    <center>
        <img src="/images/business-initiative-logo-no-background.png" alt="business-initiative-logo" class="logo-center" style="width: 12%; height: 12%">
      </center>
  </figure>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
<script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
    }
</script>
