<div class="table-of-contents-box">
  
    <h3 style="margin-left: 17px;"><img style="width: 35px;margin-right: 12px;" src="/images/icons/table-of-contents-icon.png" alt="table of contents">Table of Contents</h3>
    <table>
      <tr>
        <td>
          <ul>
            {% if include.bullet1 %}
            <li>
                <a href="{{ include.bullet1tag }}">{{ include.bullet1 }}</a>
            </li>
            {% endif %}
            {% if include.bullet2 %}
            <li>
                <a href="{{ include.bullet2tag }}">{{ include.bullet2 }}</a>
            </li>
            {% endif %}
            {% if include.bullet3 %}
            <li>
                <a href="{{ include.bullet3tag }}">{{ include.bullet3 }}</a>
            </li>
            {% endif %}
          </ul>
        </td>
        <td>
          <ul>
            {% if include.bullet4 %}
            <li>
            <a href="{{ include.bullet4tag }}">{{ include.bullet4 }}</a>
            </li>
            {% endif %}
            {% if include.bullet5 %}
            <li>
                <a href="{{ include.bullet5tag }}">{{ include.bullet5 }}</a>
            </li>
            {% endif %}
            {% if include.bullet6 %}
            <li>
                <a href="{{ include.bullet6tag }}">{{ include.bullet6 }}</a>
            </li>
            {% endif %}
          </ul>
        </td>
      </tr>
      </table>
  </div>

<style>

.table-of-contents-box {
    margin-bottom: 45px;
    padding: .5rem 1rem 0rem;
    border: 5px solid #799b5b;
    box-shadow: .5rem .5rem 0 #00273f;
    margin-top: 30px;
}
  
.table-of-contents-box li {
    margin-bottom: 12px;
    margin-top: 12px
}
  
.table-of-contents-box ul {
    line-height: 2em;
}


</style>  
  

