<div class="table-of-contents">
    <h3 style="margin-left: 17px;"><img style="width: 35px;margin-right: 12px;" src="/images/icons/table-of-contents-icon.png" alt="table of contents">Table of Contents</h3>
    <ol type="1">
      <li>{{ include.headline1 }}</li>
      <li>{{ include.headline2 }}</li>
      <li>{{ include.headline3 }}</li>
      <li>{{ include.headline4 }}</li>
      <li>{{ include.headline5 }}</li>
      <li>{{ include.headline6 }}</li>
      <li>{{ include.headline7 }}</li>
      <li>{{ include.headline8 }}</li>
    </ol>
  </div>

<style>

.table-of-contents {
    margin-bottom: 45px;
    padding: .5rem 1rem 1rem;
    border: 5px solid #799b5b;
    box-shadow: .5rem .5rem 0 #00273f;
    margin-top: 30px;
}
  
.table-of-contents li {
    margin-bottom: 12px;
}
  
.table-of-contents ol {
    line-height: 1.8em;
}
</style>  
