<div class="table-of-contents-box">
    <h3 style="margin-left: 17px;"><img style="width: 35px;margin-right: 12px;" src="/images/icons/table-of-contents-icon.png" alt="table of contents">Table of Contents</h3>
    <ul>
      <li>{{ include.anchorlink1}} {{ include.bullet1 }}</li>
      <li>{{ include.anchorlink2}} {{ include.bullet2 }}</li>
      <li>{{ include.anchorlink3}} {{ include.bullet3 }}</li>
      <li>{{ include.anchorlink4}} {{ include.bullet4 }}</li>
      <li>{{ include.anchorlink5}} {{ include.bullet5 }}</li>
    </ul>
  </div>

<style>

.table-of-contents-box {
    margin-bottom: 45px;
    padding: .5rem 1rem 1rem;
    border: 5px solid #799b5b;
    box-shadow: .5rem .5rem 0 #00273f;
    margin-top: 30px;
}
  
.table-of-contents-box li {
    margin-bottom: 12px;
}
  
.table-of-contents-box ul {
    line-height: 1.8em;
}
</style>  