<center>
<div class="table-of-contents-box">
  
    <h3 style="margin-left: 17px;"><img style="width: 35px;margin-right: 12px;" src="/images/icons/table-of-contents-icon.png" alt="table of contents">Table of Contents</h3>
    <table>
      <tr>
        <td>
          <ul>
            <li>{{ include.bullet1 }}</li>
            <li>{{ include.bullet2 }}</li>
            <li>{{ include.bullet3 }}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>{{ include.bullet4 }}</li>
            <li>{{ include.bullet5 }}</li>
            <li>{{ include.bullet6 }}</li>
          </ul>
        </td>
      </tr>
      </table>
  </div>
</center>

<style>

.table-of-contents-box {
    margin-bottom: 45px;
    padding: .5rem 1rem 1rem;
    border: 5px solid #799b5b;
    box-shadow: .5rem .5rem 0 #00273f;
    margin-top: 30px;
    width: 500px
}
  
.table-of-contents-box li {
    margin-bottom: 12px;
}
  
.table-of-contents-box ul {
    line-height: 1.8em;
}
</style>  




