.site-header {
  padding-top: 0.01rem;
  padding-bottom: $space-2;
  border-radius: 0 0 0 25px;
  box-shadow: 0px 4px 14px 0px rgba(1, 140, 255,0.10);
  position: sticky;
  top: 0;
  background: white;
  z-index: 10000000;
  left: 0;
}

.site-navbar {
  max-width: 1200px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header a {
  color: $header-color;
  font-size: 16px;
  font-weight: $header-font-weight;
  background-image: none;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  padding-top: $nav-padding;
}

.site-header nav a {
  color: $nav-color;
  font-weight: 500 !important;
  font-size: 16px;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active,
.site-header nav a.nav-active:hover,
.site-header nav a.nav-active:focus,
.site-header nav a.nav-active:active {
  color: $nav-link-color;
  opacity: 1;
  border-bottom: $nav-link-border-bottom;
}

.site-header nav a.nav-active {
  border-bottom: $nav-active-border-bottom;
}

.site-nav a + a {
  margin-left: $nav-link-padding-x;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
  margin-left: auto !important;
}

@media(max-width: 1200px) {
  .site-header .site-nav {
    margin-left: 0px;
  }
  .site-navbar {
    justify-content: center;
    flex-direction: column;
  }
  .site-header nav a {
    margin-bottom: 10px;
    display: inline-table;
  }
}