.takeaway-box {
    margin-bottom: 45px;
    padding: .5rem 1rem 1rem;
    border: 1px solid #d4d4d4;
    box-shadow: .5rem .5rem 0 #f7f7f7;
    margin-top: 30px;
  }
  
  .takeaway-box li {
    margin-bottom: 12px;
  }
  
  .takeaway-box ul {
    line-height: 1.8em;
  }