/* General Container Styling */
.pricing-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Pricing Card Styling */
.pricing-card {
    width: 300px;
    height: 400px;
    padding: 20px;
    background-color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 99, 160, 0.05), rgba(98, 158, 45, 0.05));
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.pricing-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.pricing-card h2, .pricing-card h3 {
    margin-top: 0;
    color: #0056b3;
    font-size: 1.5em;
}

.pricing-card .price {
    font-size: 1.8em;
    margin: 10px 0;
    color: #0056b3;
}

.pricing-card p {
    color: #333;
    font-size: 1em;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pricing-card .note,
.pricing-card .disclaimer {
    font-size: 0.9em;
    color: #777;
    margin-top: 2px;
}

/* Service Icon Styling */
.service-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .pricing-container {
        flex-direction: column;
        align-items: center;
    }

    .pricing-card {
        max-width: 90%;
        margin-bottom: 20px;
    }
}

/* Button Styling */
.button {
    flex: 1 1 calc(25% - 20px);
    max-width: 200px;
    padding: 10px 20px;
    background-image: linear-gradient(to bottom, rgba(0, 99, 160, 0.05), rgba(98, 158, 45, 0.05)); /* Faded gradient */
    color: #add8e6; /* Light blue text */
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    color: #0056b3; /* Dark blue text on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

