/* Container styling for the pricing cards */
.pricing-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Individual pricing card styling */
.pricing-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    background-image: linear-gradient(to bottom, rgba(0, 99, 160, 0.1), rgba(98, 158, 45, 0.1));
}


/* Card abbreviation styling */
.card-abbreviation {
    display: block;
    background-color: #0056b3; /* Background color to match your brand's primary color */
    color: #fff; /* Text color */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 10px;
}


/* Pricing card hover effect */
.pricing-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Header styling within the card */
.pricing-card h2 {
    margin-top: 0;
    color: #0056b3;
    font-size: 1.5em;
}

/* Paragraph styling within the card */
.pricing-card p {
    color: #333;
    font-size: 1em;
    margin: 10px 0;
}

/* Note styling */
.pricing-card .note {
    font-size: 0.9em;
    color: #777;
    margin-top: 2px;
}

/* Price styling */
.pricing-card .price {
    font-size: 1.8em;
    margin: 10px 0;
    color: #0056b3;
}

/* Disclaimer styling */
.pricing-card .disclaimer {
    font-size: 0.8em;
    color: #777;
    margin-top: 2px;
}

/* CTA button styling */
.cta-button {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none !important;
    transition: background-color 0.3s;
}

/* CTA button hover effect */
.cta-button:hover {
    background-color: #218838;
    color: #333;
    text-decoration: none !important;
}

/* Benefits header styling */
h3 {
    color: #0056b3;
    margin-top: 20px;
    font-size: 1.2em;
}

/* Unordered list styling for benefits */
ul {
    list-style: none;
    padding: 0;
    color: #333;
    text-align: left;
}

/* Individual list item styling */
ul li {
    margin: 5px 0;
    padding-left: 20px;
    position: relative;
}

/* List item before pseudo-element for checkmark */
ul li::before {
    content: '✔';
    color: #28a745;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.2em;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .pricing-container {
        flex-direction: column;
        align-items: center;
    }

    .pricing-card {
        max-width: 90%;
        margin-bottom: 20px;
    }
}

