    .county-list {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        list-style-position: inside;
    }

    .county-directory-button {
        display: block;
        width: fit-content;
        margin: 0 auto;
        padding: 15px 30px;
        background-color: #0056b3;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }
    
    .county-directory-button:hover {
        background-color: #003d80;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }

    .sos-button {
        display: block;
        width: fit-content;
        margin: 20px auto;
        padding: 15px 30px;
        background-color: #0056b3;
        color: white !important;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }
    
    .sos-button:hover {
        background-color: #003d80;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }

    a.sos-button {
        color: inherit; /* Inherits color from parent */
        background-image: none; /* Removes any background image */
        border-bottom: 0; /* Removes the bottom border */
        text-decoration: none; /* Ensures no underline on the text */
    }
