---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <center>
   <img src="/images/business-initiative-post-banner.png" alt="" style="width: 25%; height:25%" class="header-image-post">
  </center>
  <h1>{{ page.title }}</h1>
  <span class="post-meta post-date">{{ page.date | date: site.date_format }}</span>
  {% if page.update_date %}
    <span class="post-meta post-date">{{ site.text.post.updated | default: "Updated" }}: {{ page.update_date | date: site.date_format }}</span>
  {% endif %}
  <br>
  <span class="post-meta small">
  {% if page.minutes %}
    {{ page.minutes }} {{ site.text.post.minute_read | default: "minute read" }}
  {% else %}
    {{ minutes }} {{ site.text.post.minute_read | default: "minute read" }}
  {% endif %}
  </span>
  <br>
  {% if page.author %}
  {% assign user = site.users[page.author] %}
    By: <a href="{{ user.web }}">{{ user.name }}</a>
  {% endif %}
  <span class="post-meta small">
  {% if site.show_sharing_icons %}
  {% include share_buttons.html %}
  {% endif %}
  </span>
</div>

<figure>
  <center>
{% if page.image %}
  <img src="{{ page.image | relative.url }}" alt="" class="featured-image-post">
  {% else %}
    {% assign postImage = "/images/business-initiative-logo-no-background.png" %}
      <img src="{{ postImage | relative.url}}" alt="home" class="featured-image-post" style="width: 20%; height: 20%" align="middle">
      {% endif %}
  </center>
</figure>

<article class="post-content">
  {{ content }}
</article>

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}

{% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.id }}';
    var disqus_title      = {{ page.title | jsonify }};

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

{% if site.facebook_comments %}
  <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="{{ site.facebook_comments_number }}"></div>
{% endif %}

{% if site.show_related_posts %}
  <h3 class="related-post-title">{{ site.text.post.related_posts | default: "Related Posts" }}</h3>
  {% for post in site.related_posts %}
    <div class="post ml2">
      <a href="{{ post.url | relative_url }}" class="post-link">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="post-summary">{{ post.summary }}</p>
      </a>
    </div>
  {% endfor %}
{% endif %}
